@import 'tailwindcss';

@layer base {
  @font-face {
    font-family: "SUIT Variable";
    src: url("/SUIT-Variable.ttf");
    font-weight: 100 900;
    font-display: swap;
  }

  :root {
    --background: #F2F3F8;
    --white: #FFFFFF;
    --black: #000000;

    /* gray 컬러 팔레트 */
     --gray-90: #767676;
     --gray-50: #7A7A7A;
     --gray-30: #D9D9D9;

  }

  body {
    background: var(--background);
    font-family: "SUIT Variable";
  }
}

@layer utilities {
  /* Font Size Classes */
  .font-size-32px {
    font-size: 32px;
  }

  .font-size-20px {
    font-size: 20px;
  }
  
  .font-size-16px {
    font-size: 16px;
  }

  .font-size-12px {
    font-size: 12px;
  }

  /* Font Weight Classes */
  .font-weight-800 {
    font-weight: 800;
  }

  .font-weight-700 {
    font-weight: 700;
  }

  .font-weight-600 {
    font-weight: 600;
  }
  
  .font-weight-500 {
    font-weight: 500;
  }

  /* Color Classes */
  .color-black {
    color: var(--black);
  }

  .color-white {
    color: var(--white);
  }
  
  .color-gray-90 {
    color: var(--gray-90);
  }

  .color-gray-50 {
    color: var(--gray-50);
  }

  .color-gray-30 {
    color: var(--gray-30);
  }

  /* Border Color Classes */
  .border-gray-30 {
    border-color: var(--gray-30);
  }
  
  .border-gray-50 {
    border-color: var(--gray-50);
  }
  
  .border-gray-90 {
    border-color: var(--gray-90);
  }

  /* util Style */
  .login-input {
    font-size: 16px;
    font-weight: 500;
    color: black;
    padding-left: 20px;
  }
  
  .login-input-placeholder::placeholder {
    font-size: 16px;
    font-weight: 500;
    color: var(--gray-30);
  }

  .search-input {
    font-size: 20px;
    font-weight: 600;
    color: black;
    padding-left: 50px;
  }

  .search-input-placeholder::placeholder {
    font-size: 20px;
    font-weight: 600;
    color: var(--gray-30);
  }
}

